/* 1. В файле стилей первой строчкой добавить обнуление стилей:*/
* {
    margin: 0;
    padding: 0;
}

/*2. В файле стилей создать блок container, отвечающий за центрирование нашей страницы:*/
.container {
    width: 1140px;
    margin: 0 auto;
}

/*3. В шапке сайта необходимо расположить элементы горизонтально,
текст «Главная» должен располагаться слева, «Контакты» — справа.*/
.main_menu {
    display: flex;
    justify-content: space-between; /* раскиданы влево и вправо */
}

/*4. Заголовку h1 указать ширину 510px.*/
h1 {
    width: 510px;
}

/*5. Тексту под заголовком h1 указать ширину 425px.*/
.header_h1 {
    width: 425px;
}

/*6. В HTML-файле class=”what-we-do” добавить класс container,
чтобы получилось class=”what-we-do container” для центрирования
содержимого блока what-we-do.*/
/*строка 32*/

/*a) Блоку карточки (заголовок h4: Make your business, смотри макет ниже и p)
указать значение ширины 359px.*/
h4 {
    width: 359px;
}

/*b) Создать ещё 2 карточки товара, как представлено в изображении макета.
Итого получится 3 карточки*/
/*строка 32, 33*/

/*c) Расположить их горизонтально и выставить равные отступы между ними.*/
.what-we-do {
    display: flex; /* выстраивает эл-ты в строку */
    justify-content: space-between; /* выставляет равные отступы + выравнивание */
}

/*7. В подвале сайта:
a) Добавить центрирование всего контента. В подвале сайта, внутри блока footer,
создать блок container для центрирования содержимого. Должна получиться структура:
<div class=”footer”>
<div class=”container”>Содержимое футера</div>
</div>*/
/*строка 39*/

/*b) Блоку контента (h4 “Intersted to woek” и p), в верхней части футера указать ширину 495px;*/
.footer_content {
    width: 495px;
}

/*c) Заголовку в подвале сайта указать ширину 340px.*/
.footer_header {
    width: 340px;
}

/*d) Список в нижней части подвала (номер телефона и email)
расположить горизонтально и выставить равные отступы между ними.*/

.footer_num_email {
    display: flex; /* выстраивает эл-ты в строку */
    justify-content: space-around; /* выставляет равные отступы + выравнивание */
}

/*8. Страница «Контакты»:
a) Добавить центрирование всей контентной части страницы с помощью блока container.*/
/*строка 13*/

/*разместить слева блок с контактами,
справа — блок формы заполнения данных.*/

.contacts_text_input {
    display: flex;
    justify-content: space-between; /* раскиданы влево и вправо */
}

/*c) Карту сайта сделать на всю ширину container.*/
/*уже*/